upstream php {
        server unix:/run/php/php{{ php.version }}-fpm.sock;
        server 127.0.0.1:9000;
}
server{

  server_name {{ item }}.{{ domain_name }};
  root {{ nginx.root_directory }}/{{ item }};
  index index.php;
  # разрешенный размер файлов для загрузки
  client_max_body_size 32m;

  location = /favicon.ico {
    log_not_found off;
    access_log off;
  }
  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }

  location / {
    # This is cool because no php is touched for static content.
    # include the "?$args" part so non-default permalinks doesn't break when using query string
    try_files $uri $uri/ /index.php?$args;
  }

  # Редирект со старого пути http://websr/kgdp на http://websr/
  location /kgdp/ {
    return 301 $scheme://$host;
  }

  location ~ \.php$ {
    #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
    include fastcgi.conf;
    fastcgi_intercept_errors on;
    fastcgi_pass php;
  }

  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
    expires max;
    log_not_found off;
  }

  location /nginx_status {
    stub_status on;
    access_log off;
    allow 127.0.0.1;
    deny all;
  }

  include snippets/phpmyadmin.conf;

  error_log {{nginx.log_path}}/{{ item }}_error.log;
  access_log {{nginx.log_path}}/{{ item }}_access.log;
}